@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}

/* Scrollbar general */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Fondo del scrollbar */
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  
  /* Color del scrollbar */
  ::-webkit-scrollbar-thumb {
    background-color: rgb(147 51 234);
  }
  
  /* Color del scrollbar al hacer hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  